@font-face{
    font-family: 'Vollkorn';
    src: url('../fonts/Vollkorn.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.ttf');
    font-weight: normal;
    font-style: normal;
}
*{
	margin: 0;
	padding: 0;	
	outline: none;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
#spanH1{
	color:white;
	margin: 0 0;
}
html{
	font-size: 100%;
}

body{
	margin: 0 auto;
	width: 100%;	
	background-color: #576266;
	
}

/* Cabeçalho do APP*/

header{
	/* Propriedades do box */
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	border-bottom: solid thick #23a96e;
	padding: 0.5%;	 
	height: 4rem;
	
	/* Propriedades visuais*/
	background-color: #2f2f31;	
	color: black;		
	font-size: 1rem;
	font-family: 'Vollkorn';	
}


header > h1{
	width: 90%;
	margin: 0 auto;
	color: #23a96e;
}

header,
header > h1,
#PlusIcon{
    line-height: 4rem;
}

a{
	text-decoration: none;	
}
#add{
	color: white;
	margin-right: 1.5%;		

}
.direita{
	float: right;
}
.esquerda{
	float: left;
}

#content {
	margin-top: 4.4rem;


}
#close{
	position: fixed;
	top: 0;
	right:0;
	line-height: 4rem;
	padding-right: 1rem;
}



#listaProfessores ul > li.professor{
	font-family: 'OpenSans';
	border: solid; 
	border-top: none;
	border-right: none;
	border-left: none;	
	padding-top: 7.5%;
	padding-bottom: 7.5%;
	border-width: 0.1rem;	
	color: white;
	border-bottom-color: #23a96e;
	font-size: 1.1rem;
	padding: 2rem
}

button{
	padding: 3% 1%;
	width: 49%;
	margin-top: 80%;
	margin-left: 0.5%; 
	font-family: 'OpenSans';
	font-size: 1rem;
	border: none;
	background-color: #23a96e;
	color: white;
	border-radius: 0.20rem;
	
}
.valReceived{
	color: #CFE9F2;
	font-family: 'OpenSans';
	
	font-size: 1.5rem;
	margin-left: 6%;	
}
.estilizarTpl{
	border-style: solid;
	border-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-color: #23a96e;
	width: 100%;
	padding-top: 3%;
	padding-bottom: 3%;	
	
}
.lbStyle{	
	font-family: 'OpenSans';
	color: #7CF5C0;
	font-size: 1.5rem;
}

